In [2]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [3]:
data_input =pd.read_csv('heart_disease_data.csv')
data_input

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,48,1,0,130,256,1,0,150,1,0.0,2,2,3,0
1,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
2,44,0,2,118,242,0,1,149,0,0.3,1,1,2,1
3,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
4,56,1,3,120,193,0,0,162,0,1.9,1,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0
602,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1
603,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
604,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
605,62,1,1,120,281,0,0,103,0,1.4,1,1,3,0

In [4]:
data_input.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [5]:
data_input.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.074592,0.465626,1.031199,17.523642,51.787898,0.355903,0.525425,22.886223,0.469406,1.160115,0.615717,1.021761,0.611770,0.498422
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.250000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.750000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
import pandas as pd

# Assuming you have a DataFrame named 'data_input'

# Define mappings for categorical variables
sex_mapping = {1: 'Male', 0: 'Female'}
cp_mapping = {0: 'Typical angina', 1: 'Atypical angina', 2: 'Non-anginal pain', 3: 'Asymptomatic'}
restecg_mapping = {0: 'Normal', 1: 'ST-T wave abnormality', 2: 'Probable or definite LVH'}
fbs_mapping = {1: 'True', 0: 'False'}
slope_mapping = {0: 'Upsloping', 1: 'Flat', 2: 'Downsloping'}
thal_mapping = {0: 'Normal', 1: 'Fixed defect', 2: 'Reversible defect',3: "Other"}
exang_mapping = {1 : 'Yes', 0:'No'}

# Replace numeric values with text labels
data_input['sex'] = data_input['sex'].replace(sex_mapping)
data_input['cp'] = data_input['cp'].replace(cp_mapping)
data_input['restecg'] = data_input['restecg'].replace(restecg_mapping)
data_input['fbs'] = data_input['fbs'].replace(fbs_mapping)
data_input['slope'] = data_input['slope'].replace(slope_mapping)
data_input['thal'] = data_input['thal'].replace(thal_mapping)
data_input['exang'] = data_input['exang'].replace(exang_mapping)

# Print the updated DataFrame
data_input

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,48,Male,Typical angina,130,256,True,Normal,150,Yes,0.0,Downsloping,2,Other,0
1,61,Male,Typical angina,148,203,False,ST-T wave abnormality,161,No,0.0,Downsloping,1,Other,0
2,44,Female,Non-anginal pain,118,242,False,ST-T wave abnormality,149,No,0.3,Flat,1,Reversible defect,1
3,47,Male,Typical angina,110,275,False,Normal,118,Yes,1.0,Flat,1,Reversible defect,0
4,56,Male,Asymptomatic,120,193,False,Normal,162,No,1.9,Flat,0,Other,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,60,Male,Non-anginal pain,140,185,False,Normal,155,No,3.0,Flat,0,Reversible defect,0
602,67,Female,Non-anginal pain,115,564,False,Normal,160,No,1.6,Flat,0,Other,1
603,40,Male,Asymptomatic,140,199,False,ST-T wave abnormality,178,Yes,1.4,Downsloping,0,Other,1
604,50,Female,Typical angina,110,254,False,Normal,159,No,0.0,Downsloping,0,Reversible defect,1
605,62,Male,Atypical angina,120,281,False,Normal,103,No,1.4,Flat,1,Other,0

In [7]:
data_input['thal'].unique()

array(['Other', 'Reversible defect', 'Fixed defect', 'Normal'],
      dtype=object)

In [8]:
data_input.dtypes

age           int64
sex          object
cp           object
trestbps      int64
chol          int64
fbs          object
restecg      object
thalach       int64
exang        object
oldpeak     float64
slope        object
ca            int64
thal         object
target        int64
dtype: object

In [9]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Assuming you have a DataFrame named 'data_input'

# List of categorical columns to encode
categorical_columns = ['sex', 'cp', 'restecg', 'fbs', 'slope', 'thal','exang']

# Initialize LabelEncoder
sex_encoder = LabelEncoder()
cp_encoder = LabelEncoder()
restecg_encoder = LabelEncoder()
fbs_encoder = LabelEncoder()
slope_encoder = LabelEncoder()
thal_encoder = LabelEncoder()
exang_encoder = LabelEncoder()

# Apply LabelEncoder to each categorical column
data_input['sex'] = sex_encoder.fit_transform(data_input['sex'])
data_input['cp'] = cp_encoder.fit_transform(data_input['cp'])
data_input['restecg'] = restecg_encoder.fit_transform(data_input['restecg'])
data_input['fbs'] = fbs_encoder.fit_transform(data_input['fbs'])
data_input['slope'] = slope_encoder.fit_transform(data_input['slope'])
data_input['thal'] = thal_encoder.fit_transform(data_input['thal'])
data_input['exang'] = restecg_encoder.fit_transform(data_input['exang'])
# Print the updated DataFrame
data_input.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,48,1,3,130,256,1,0,150,1,0.0,0,2,2,0
1,61,1,3,148,203,0,2,161,0,0.0,0,1,2,0
2,44,0,2,118,242,0,2,149,0,0.3,1,1,3,1
3,47,1,3,110,275,0,0,118,1,1.0,1,1,3,0
4,56,1,0,120,193,0,0,162,0,1.9,1,0,2,1

In [10]:
X = data_input.drop('target', axis=1)
Y = data_input['target']
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=42)

model = DecisionTreeClassifier()
model.fit(X_train,Y_train)
score = model.score(X_test,Y_test)
score

0.9508196721311475

In [11]:
# models = {"model_clf":model, 'sex_encoder': sex_encoder,'cp_encoder':cp_encoder,'restecg_encoder':restecg_encoder,
#          'fbs_encoder':fbs_encoder,'slope_encoder':slope_encoder,'thal_encoder':thal_encoder, 'exang_encoder':exang_encoder}

In [13]:
import joblib


joblib.dump(model, 'Heart_Disease_Prediction_Model.joblib')

['Heart_Disease_Prediction_Model.joblib']

In [14]:
loaded_model = joblib.load('Heart_Disease_Prediction_Model.joblib')

In [15]:
loaded_model.predict(X_test)

array([0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1], dtype=int64)

In [16]:
loaded_model.score(X_test,Y_test)

0.9508196721311475

In [17]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,48,1,3,130,256,1,0,150,1,0.0,0,2,2
1,61,1,3,148,203,0,2,161,0,0.0,0,1,2
2,44,0,2,118,242,0,2,149,0,0.3,1,1,3
3,47,1,3,110,275,0,0,118,1,1.0,1,1,3
4,56,1,0,120,193,0,0,162,0,1.9,1,0,2

In [18]:
testing = np.array([[61,1,0,148,203,0,1,161,0,0,2,1,3]])
testing

array([[ 61,   1,   0, 148, 203,   0,   1, 161,   0,   0,   2,   1,   3]])

In [19]:
model.predict(testing)[0]

c:\Users\ict\.conda\envs\Streamlit\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

0